body {
    text-align: center;
    font-size: 25px;

}

#One, #OneRF, #OneCards, #OneReason {
    color: green;
    font-weight: bold;
}

#Two, #TwoRF, #TwoCards, #TwoReason {
    color: rebeccapurple;
    font-weight: bold;
}

#poker {
    background-image: url("./poker.jpg");
}

img {
    max-width:100%;
    max-height:100%;
}
